<div style="" class="overflow-x-hidden relative w-full mx-auto sample-slider">

  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://ii1.pepperfry.com/media/catalog/product/k/h/494x544/kharkov-sheesham-wood-arm-chair-in-provincial-teak-finish-kharkov-sheesham-wood-arm-chair-in-provinc-cdcade.jpg" alt="img 2"></div>
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://i.pinimg.com/564x/5b/a4/81/5ba48198d545d38a541431257c84f1b0.jpg" alt="img 2"></div>
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://ii1.pepperfry.com/media/catalog/product/a/e/800x880/aesthetic-iconic-chair-in-multicolour-by-pansy-furniture-aesthetic-iconic-chair-in-multicolour-by-pa-c89grf.jpg" alt="img 2"></div>
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://i.pinimg.com/564x/9a/f8/0a/9af80a3fc1a15a0280084e65c78f52e7.jpg" alt="img 2"></div>
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://cimmermann.uk/cdn/shop/products/norr11-elephant-chair-vintage-leather-situ-09_5df88c9c-d557-4c6a-9d7a-8bc418ff8187_1200x.jpg?v=1607424861" alt="img 2"></div>
      <div class="swiper-slide s relative duration-300"> <img class="shadow-lg hover:rotate-2 hover:scale-90 duration-300" style="border: 3px solid rgba(63, 47, 35, 0.93)" src="https://i.pinimg.com/564x/9a/f8/0a/9af80a3fc1a15a0280084e65c78f52e7.jpg" alt="img 2"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div  class="swiper-button-next
"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
